<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Title</title>
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/style.css">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="./zepto.min.js"></script>
</head>
<body>
<div class="cont">
    <!--one-->
    <div class="slider slide_page_1 slide_page current">
        <div class="index-banner fl">
            <div class="index-nav">
                <div class="index-nav-l nav-text fl">
                    <a href="#">用户登录</a>
                </div>
                <div class="index-nav-r nav-text fr">
                    <a href="#">活动规则</a>
                </div>
            </div>
            <div class="index-tit">
                <img src="../images/index-tit.png">
            </div>
            <div class="index-top-btn">
                <button class="index-btn btn">我要报名</button>
            </div>
            <div class="index-top-inp">
                <input type="text" class="index-inp inp fl">
                <button class="btn index-form-btn fl">搜索</button>
            </div>
        </div>
        <div class="index-messages fl">
            <ul>
                <li class="index-messages-item fl">
                    <div class="tx fl">
                        <img src="../images/index-tx.png">
                    </div>
                    <div class="name fl">
                        <div class="name-tit fl">
                            <div class="name-tit-l fl">
                                <b>name111</b> | <span>编号</span>
                            </div>
                            <div class="name-tit-r fr">
                                <span class="name-tit-r-t">5票</span>
                            </div>
                        </div>
                        <div class="name-cont fl">
                            <div class="name-cont-t">
                                <div class="name-cont-t-text">
                                    hello
                                </div>

                            </div>
                            <div class="name-cont-btn fr">
                                <button class="btn">投他一票</button>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="index-messages-item fl">
                    <div class="tx fl">
                        <img src="../images/index-tx.png">
                    </div>
                    <div class="name fl">
                        <div class="name-tit fl">
                            <div class="name-tit-l fl">
                                <b>name111</b> | <span>编号</span>
                            </div>
                            <div class="name-tit-r fr">
                                <span class="name-tit-r-t">5票</span>
                            </div>
                        </div>
                        <div class="name-cont fl">
                            <div class="name-cont-t">
                                <div class="name-cont-t-text">
                                    hello
                                </div>

                            </div>
                            <div class="name-cont-btn fr">
                                <button class="btn">投他一票</button>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="index-messages-item fl">
                    <div class="tx fl">
                        <img src="../images/index-tx.png">
                    </div>
                    <div class="name fl">
                        <div class="name-tit fl">
                            <div class="name-tit-l fl">
                                <b>name111</b> | <span>编号</span>
                            </div>
                            <div class="name-tit-r fr">
                                <span class="name-tit-r-t">5票</span>
                            </div>
                        </div>
                        <div class="name-cont fl">
                            <div class="name-cont-t">
                                <div class="name-cont-t-text">
                                    hello
                                </div>

                            </div>
                            <div class="name-cont-btn fr">
                                <button class="btn">投他一票</button>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!--two-->
    <div class="slider slide_page_1 slide_page hide">
        <div class="sign-banner fl">
            <div class="sign-tit">
                <img src="../images/index-tit.png">
            </div>
        </div>
        <div class="sign-form fl">
            <form>
                <div class="form-group fl">
                    <div class="form-cont">
                        <div class="label">
                            <label for="username">用户名:</label>
                        </div>
                        <input class="form-inp" type="text" id="username" name="username" placeholder="请输入用户名">
                    </div>
                </div>
                <div class="form-group fl">
                    <div class="form-cont">
                        <div class="label">
                            <label for="password1">密码:</label>
                        </div>
                        <input class="form-inp" type="text" id="password1" name="password1" placeholder="数字或字母不超过10个长度">
                    </div>
                </div>
                <div class="form-group fl">
                    <div class="form-cont">
                        <div class="label">
                            <label for="password2">确认密码:</label>
                        </div>
                        <input class="form-inp" type="text" id="password2" name="password2" placeholder="数字或字母不超过10个长度">
                    </div>
                </div>
                <div class="form-group fl">
                    <div class="form-cont">
                        <div class="label">
                            <label for="phone">手机号:</label>
                        </div>
                        <input class="form-inp" type="text" id="phone" name="phone" placeholder="请填写正确格式的手机号码">
                    </div>
                </div>
                <div class="form-group fl">
                    <div class="form-cont">
                        <div class="label">
                            <label for="describe">自我描述:</label>
                        </div>
                        <input class="form-inp" type="text" id="describe" name="describe" placeholder="请填写自我描述（20字以内）">
                    </div>
                </div>
                <div class="form-group fl">
                    <div class="form-cont">
                        <div class="label">
                            <label for="describe">性别:</label>
                        </div>
                        <div class="form-rad"><input name="describe" type="radio"><span>男</span></div>
                        <div class="form-rad"><input name="describe" type="radio"><span>女</span></div>
                    </div>
                </div>
                <div class="form-group fl">
                    <div class="form-cont">
                        <div class="form-btn">
                            <button class="btn">提交</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="../js/comm.js"></script>
<script src="../js/index.js"></script>
</body>
</html>